body {
    background-color: rgb(240, 240, 240);
}
.header {
    background-color: #cfcffa;
    max-width: 1200px;
    margin: 0 auto;
}

.header__inner {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__utilities {

}

.header__logo {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
}

.header__form-button {
    border: none;
    color: #000;
    font-size: 16px;
    background-color: #cfcffa;
    cursor: pointer;
}
.login-name h2 {
    font-size: 16px;
    text-align: center;
}
